[Xfce Panel]
Type=X-XFCE-PanelPlugin
Icon=focus-eye-open-symbolic
Name=Focus
Comment=Temporarily inhibit screen lock/blanking and notifications
X-XFCE-Module=focus
X-XFCE-Category=Utility
X-XFCE-Unique=true
X-XFCE-API=2.0
X-XFCE-Internal=FALSE
